<mat-card>
    <h1 *ngIf="users.length==0">Your Users list is empty</h1>
    <ul *ngIf="users.length>0">
        <li *ngFor="let user of users; index as i">{{i}} {{user.name}} {{user.Email}} {{user.age}}</li>
    </ul>
</mat-card>