<mat-toolbar color ="primary">
    <button mat-raised-button routerLink='users'>Show Users</button>
    <button mat-raised-button routerLink='new-user'>Add a New User</button>
</mat-toolbar>
<div>
    <router-outlet></router-outlet>
</div>
