<form [formGroup] = "myForm">
    <mat-form-field appearance="legacy">
        <input matInput #name placeholder="Name" formControlName = "name">
        <mat-error *ngIf="name.value.length<3">You Name is too short</mat-error>
        <mat-error *ngIf="name.value.length>3">You Name is too long</mat-error>
        <mat-hint align="end">{{name.value?.length || 0}}/50</mat-hint>
    </mat-form-field >

    <mat-form-field appearance="legacy">
        <input matInput #Email placeholder="Email" formControlName = "Email">
        <mat-error>You Need To Add A Valaid Email</mat-error>
    </mat-form-field >

    <mat-form-field appearance="legacy">
        <input matInput #age placeholder="Age" type="number" formControlName = "age">
        <mat-error >You Need To Add An Age</mat-error>
    </mat-form-field>
    <div class="btn">
        <button (click) = "this.usersDB.addUser(name.value,age.value,Email.value)" type="reset" mat-raised-button color="warn" [disabled] = "!myForm.valid">Submit</button>
    </div>
    
</form>